h1 {	
	height: 0.5in;
	background: #F3CF1D;
	border-bottom: 0.5em solid #0091C9;
}
body {	
	background: #ddd;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
div.body {
	margin: 0;
	padding: 5mm;
	padding-top: 0;
	max-width: 8in;
}
